@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing:0;
}

body {
   font-family: "Poppins" , sans-serif;
   font-size:15px;
   font-weight:400px;
   
}

main {
  display:flex;
  align-items:center;
  justify-content:center;
  max-height: 100vh;
  width:100%;
}

.container {
  display:grid;
  align-items:center;
  justify-content:center;
  margin-top:100px;
  margin-bottom:100px;
  width:380px;
  background:#DE5D83;
  border-radius:5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  
}

.container h1 {
  text-align:center;
  padding:20px;
}

.kisi-liste {
  display:flex;
  align-items:center;
  justify-content:space-between;
  margin:4px;
  padding:4px;
  
}

.kisi-liste img {
  height:75px;
  width:75px;
  border-radius:50%;
  
}

.kisi-liste div {
 align-items:center;
 margin:auto;
 padding:auto;
 
 
 
}

.btn {
  margin:10px 10px 20px 10px;
  padding:10px;
  width:100%;
  font-size:20px;
  font-weight:400px;
  color:black;
  background-color:#DE5D83;
  border:1px solid black;
  border-radius:0.25rem;
  cursor:pointer;
}




